.section-company {
  padding-top: 47px;
  padding-bottom: 47px;
}
.service-list {
  display: flex;
}

.service-img {
  position: relative;
}

.service-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.service-overlay-text {
  font-weight: 700;
  @include font(14px, 1.14);
  text-transform: uppercase;
  color: var(--primary-white-color);
}
