:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --icon-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --second-button-bg-color: #f5f4fa;
  --border-header-color: #ececec;
  --border-color: #eeeeee;
  --social-color: #afb1b8;
}
